@media (max-width: 1024px) {
  .hero {
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
  }

  .heroPicture {
    width: 100%;
  }

  .featuresCards {
    grid-template-columns: repeat(3, 1fr);
  }

  .songsPreview {
    gap: 1.5rem;
  }

  .songContainer {
    width: 30%;
  }

  .download {
    grid-template-columns: 1.5fr 1fr;
  }
}

/* ===== GENERAL MOBILE STYLES ===== */
@media (max-width: 768px) {
  html {
    font-size: 55%;
  }

  .navigation {
    flex-direction: column;
    gap: 1.5rem;
    padding: 1.5rem 2rem;
  }

  .navLinks {
    gap: 2rem;
    font-size: 1.6rem;
    flex-wrap: wrap;
  }

  /* ===== HERO SECTION ===== */
  .hero {
    grid-template-columns: 1fr;
    gap: 4rem;
    text-align: center;
    padding: 3rem 1rem;
  }

  .heroText {
    padding-top: 1rem;
  }

  .ctaBtns {
    justify-content: center;
  }

  .heroImage {
    width: 28rem;
    height: 28rem;
    justify-self: center;
  }

  .heroPicture {
    transform: rotate(0);
  }

  /* ===== FEATURES ===== */
  .featuresCards {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
  }

  /* ===== SONGS PREVIEW ===== */
  .songsPreview {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .songContainer {
    width: 45%;
  }

  /* ===== DOWNLOAD SECTION ===== */
  .download {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .downloadCta {
    width: 100%;
    align-items: center;
  }

  .downloadCtaText::after {
    left: 40%;
    width: 20%;
  }

  /* ===== PAYMENT PLANS ===== */
  .premiumPlansBox {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .premiumPlan {
    width: 100%;
  }

  .premiumFeaturesBox {
    flex-direction: column;
    gap: 2rem;
    text-align: center;
  }

  /* ===== FOOTER ===== */
  .footerTop {
    flex-direction: column;
    gap: 3rem;
  }

  .footerLinks {
    grid-template-columns: repeat(2, 1fr);
    display: grid;
    gap: 3rem;
  }

  .footerNewsletter {
    width: 100%;
    text-align: center;
  }
}



@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .heroHeader {
    font-size: 3.2rem;
  }

  .heroText p {
    font-size: 2rem;
  }

  .featuresCards {
    grid-template-columns: 1fr;
  }

  .songContainer {
    width: 80%;
  }

  .downloadBtn {
    width: 110px;
    height: 32px;
  }

  .paymentPlanText {
    font-size: 3rem;
  }

  .posterShowcaseText {
    font-size: 2rem;
    text-align: center;
  }

  .input {
    width: 80%;
  }

  .footerLinks {
    grid-template-columns: 1fr;
  }
}
