* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: radial-gradient(
    circle at 30% 30%,
    #f5f3ff 0%,
    #eae8ff 50%,
    #c8c8ff 100%
  );
  font-family: "Poppins", sans-serif;
}

.container {
  width: 95%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 2.3rem 0;
}

/* ==== NAVBAR SECTION ==== */
.navigation {
  max-width: 120rem;
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 2rem;
  padding: 2rem 3rem;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  margin: 1.5rem auto;
}

.siteLogo {
  font-size: 2.4rem;
  font-weight: 600;
  color: #8447ff;
  text-shadow: 0 2px 8px rgba(132, 71, 255, 0.3);
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-items: center;
  gap: 0.5rem;
}

.navLogo {
  font-size: 2.8rem;
}

.navLinks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  font-size: 1.8rem;
}

.navLink {
  text-decoration: none;
  color: #333;
  position: relative;
}

.navLink::after {
  content: "";
  position: absolute;
  background: #8447ff;
  width: 0;
  height: 2px;
  bottom: -4px;
  left: 0;
  transition: width 0.3s ease;
}

.navLink:hover::after {
  width: 100%;
}

.navLink:hover,
.navLink:active {
  color: #9c82b4e3;
}

.toggleBtn {
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #ddd;
  font-size: 1.2rem;
  box-shadow: 8px 6px 16px #2b2a2a4a, -8px -8px 16px #ffffffaa;
}

.toggleBtn:hover {
  cursor: pointer;
}

/* ==== HERO SECTION ==== */
.heroSection {
  width: 100%;
  backdrop-filter: blur(20px);
  background-color: #170835;
}

.hero {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 12rem;
}

.heroText {
  padding-top: 4rem;
}

.heroHeader {
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.5px;
  color: #ddd;
  margin-bottom: 1rem;
  text-shadow: 0 0 10px rgba(94, 62, 255, 0.2);
}

.heroText p {
  font-size: 2.6rem;
  color: #fff;
  margin-bottom: 4rem;
}

.heroImage {
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(12px);
  width: 40rem;
  height: 40rem;
  border-radius: 3rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1),
    inset 0 10px 10px rgba(255, 255, 255, 0.2);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  justify-self: end;
}

.heroPicture {
  width: 90%;
  border-radius: 2rem;
  box-shadow: 8px 6px 16px #2b2a2a4a, -8px -8px 16px #2b2a2a20;
  transform: rotate(-8deg);
  transition: transform 0.5s ease;
}

.heroPicture:hover {
  transform: rotate(0deg) scale(1.05);
  cursor: pointer;
}

.ctaBtns {
  display: flex;
  align-items: center;
  gap: 2.6rem;
}

button {
  padding: 1.5rem 1rem;
  border-radius: 10px;
  font-size: 1.6rem;
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

#ctaView {
  background-color: #170835;
  color: #e4e4f3;
  transition: background-color 0.3s ease;
  border: 1px solid #8447ff;
}

#ctaView:hover {
}

#ctaListen {
  backdrop-filter: blur(12px);
  background: linear-gradient(
    145deg,
    rgba(255, 255, 255, 0.2),
    rgba(255, 255, 255, 0.05)
  );
  color: #ddd;
  text-shadow: 0 0 10px rgba(94, 62, 255, 0.3);
  border: 1px solid rgba(255, 255, 255, 0.25);

  transition: background-color 0.3s ease;
}

#ctaListen:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
